<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Foo Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Foo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FA6319851A1BD61F00E0E18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA63199D1A1BD61F00E0E18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6319B11A1BD62C00E0E18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FA6319C31A1BD62C00E0E18C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
